.cart{
    display: grid;
    grid-template-rows: 80px auto 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    font-family: sans-serif;
}

.cartEmpty{
    margin: 200px;
    flex-direction: column;
    align-items: center;
}

.goBack{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.table{
    display: grid;
    grid-template-rows: auto auto;
}

.rows{
    display: grid;
    grid-template-columns: 150px 250px 200px 200px 200px 150px;
    align-items: baseline;
    border-bottom: 1px solid rgb(215, 215, 215);
    margin-top: 3px;
    font-size: small;
}

.tableHeader{
    padding-bottom: 5px;
}

.tableTotal{
    margin-top: 25px;
}

.cartProductImg{
    display: flex;
    justify-content: start;
    width: 40px;
    height: 45px;
}

.trash{
    display: flex;
    justify-content: end;
}

.total{
    text-align: left;
}

.checkout{
    font-size: large;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: blanchedalmond;
}