.cart{
    display: flex;
    justify-content: center;
    margin: 100px;
    font-family: sans-serif;
}

.cartEmpty{
    margin: 200px;
    flex-direction: column;
    align-items: center;
}

.goBack{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.tableHeader{
    height: 20x;
}

.tableRow{
    display: grid;
    grid-template-columns: 50px 250px 100px 100px 100px 50px;
    align-items: baseline;
    height: auto;
    text-align: center;
    column-gap: 10px;
    margin-top: 2px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.cartProductImg{
    width: 50px;
    height: 55px;
}