.itemDetail{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 100px;
}

.itemDetailImageContainer{
    display: flex;
    justify-content: center;
}

.itemDetailImage{
    height: 400px;
    width: 350px;
}

.itemDetails{
    font-family: sans-serif;
}

@media (max-width: 1000px){
    .itemDetail{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .itemDetails{
        justify-content: center;
        align-items: center;
    }
}