.itemDetail{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 100px;
}

.itemDetailImageContainer{
    display: flex;
    justify-content: center;
}

.itemDetailImage{
    height: 400px;
    width: 350px;
}

.itemDetails{
    font-family: sans-serif;
}