.navBar{
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border: 1px solid rgb(226, 226, 226);
    font-size: larger;
    color: #000;
    cursor: pointer;
    text-align: center;
}

.counter{
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
}

.counterWider{
    width: 110px;
}

.off{
    display: none;
}

.clearAll{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: blanchedalmond;
    cursor: pointer;
}

.generateOrder{
    width: 309px;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;
}