.carouselContainer{
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(215, 215, 215);
}

@keyframes tape {
    0% {transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

.images{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    animation: tape 8s infinite linear;
}

.imgMS{
    height: 400px;
    width: 500px;
    margin: 0px;
}

.imgKOK{
    height: 150px;
    width: 300px;
}

.imgHB{
    height: 250px;
    width: 250px;
    margin-left: 40px;
}

.imgBarnes{
    background-color: black;
    width: 350px;
    margin-left: 70px;
}

.imgFreres{
    width: 350px;
    margin-left: 70px;
}

.imgNotte{
    width: 250px;
    margin-left: 70px;
}